@import url('http://fonts.cdnfonts.com/css/pokemon-solid');


/* Definimos el fondo y estilo de letra */
body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}


.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.87);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    text-align:center;
    
  }
  
.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
}
  
.nav a:hover{
    color: #f1f1f1;
  }
  
.nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

li .bliblioteca{
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

 .menuh {
  font-size:35px;
  cursor:pointer;
 }
 
 nav {
   width: 100%;
 }
 .logo {
  width:200px;
  height:50px;
  margin-left:10px;
  margin-right:10px;
  }

  
  .wrapper {
      width: 90%;
      margin: auto auto;
      display: grid;
      grid-gap: 50px;
      grid-template-columns: repeat(6, 1fr);
      align-content: right;
      align-items: center;
      padding-bottom: 10%;
  }
  
  
  
  .icon {
      border-radius: 100%;
      height: 150px;
      width: 150px;
      margin:auto;
      transition: 200ms all;
      position: relative;
      display: inline-block;
      text-align: center;
  }

  .categoria {
      border-radius: 100%;
      height: 100px;
      width: 100px;
      display: inline-block;
      margin-right: 10%;
      text-align: center;
      margin-bottom: 10%;

    
  }

  .categoria span {
      color: rgba(141, 148, 141, 0.815); 
      font-size: 1.8em;
      font-family: 'Saira Semi Condensed', sans-serif;
  }
  
  .caja-img{
      /*colocamos como fondo una imagen utlizando z-index*/
        background-image: url(https://github.com/brauliorguez/Pokedex-API/blob/d8561c4815612851dd9c915f2dbb33972e32484a/img/fondo-img.png?raw=true);
        /*la imagen se ajusta a la caja*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
  }
  
  .title{
      color:rgba(124, 121, 121, 0.842);
      font-size: 2em;
      font-family: 'Pokemon Solid',sans-serif;
      transition: 300ms all;
  }
  
  
  .icon:hover{
      filter: saturate(200%);
      transform: scale(1.1);
      cursor: pointer;
  }
  
  .icon img {
      height: 60%;
      width: 60%;
      margin: 20%;
      margin-bottom: 10%;
  }
  
  .categoria img {
      height: 60%;
      width: 60%;
      margin: 20%;
      margin-bottom: 10%;

  }
  .bug {
      background: #92BC2C;
      box-shadow: 0 0 20px #92BC2C;
  }
  
  .dark {
      background: #595761;
      box-shadow: 0 0 20px #595761;
  }
  
  .dragon {
      background: #0C69C8;
      box-shadow: 0 0 20px #0C69C8;
  }
  
  .electric {
      background: #F2D94E;
      box-shadow: 0 0 20px #F2D94E;
  }
  
  .fire {
      background: #FBA54C;
      box-shadow: 0 0 20px #FBA54C;
  }
  
  .fairy {
      background: #EE90E6;
      box-shadow: 0 0 20px #EE90E6;
  }
  
  .fighting {
      background: #D3425F;
      box-shadow: 0 0 20px #D3425F;
  }
  
  .flying {
      background: #A1BBEC;
      box-shadow: 0 0 20px #A1BBEC;
  }
  
  .ghost {
      background: #5F6DBC;
      box-shadow: 0 0 20px #5F6DBC;
  }
  
  .grass {
      background: #5FBD58;
      box-shadow: 0 0 20px #5FBD58;
  }
  
  .ground {
      background: #DA7C4D;
      box-shadow: 0 0 20px #DA7C4D;
  }
  
  .ice {
      background: #75D0C1;
      box-shadow: 0 0 20px #75D0C1;
  }
  
  .normal {
      background: #A0A29F;
      box-shadow: 0 0 20px #A0A29F;
  }
  
  .poison {
      background: #B763CF;
      box-shadow: 0 0 20px #B763CF;
  }
  
  .psychic {
      background: #FA8581;
      box-shadow: 0 0 20px #FA8581;
  }
  
  .rock {
      background: #C9BB8A;
      box-shadow: 0 0 20px #C9BB8A;
  }
  
  .steel {
      background: #5695A3;
      box-shadow: 0 0 20px #5695A3;
  }
  
  .water {
      background: #539DDF;
      box-shadow: 0 0 20px #539DDF;
  }
  
  
.main {
  margin: 1% auto;
  padding: 2% 5% 2% 5%;
}

#formulario2 {
    display:none;
  }

#pokemon-name{
    color:#0C69C8;
    font-size:1.8em;
    font-family: fantasy;
    text-align:center;
    width:75%   ;
    float: right;
    text-align: center;
    border: 1px solid #0C69C8;
    border-radius: 0px 10px 10px 0px;
}

.info{
    margin-top: 30px;
    position:relative;
}
#pokemon-id{
    width:25%;
    float: left;
    position: absolute;
    top: 50%;
    text-align: center;
    color:#0C69C8;
    font-size:1.8em;
    font-family: fantasy;
    text-align:center;
    border: 1px solid #0C69C8;
    border-radius: 10px 0px 0px 10px;
}




.tarjeta{
    text-align: center;
}

.titulo{
    margin:auto;
    font-size: 1.1em;
    color: green;
}
.caja{
    margin-bottom:25px;
}

/*Responsive navigation*/
@media screen and (max-width: 600px) {
  .nav {padding-top: 15px;}
  .nav a{
    text-decoration: none;
    color: #8b3b3b;
    display: block;
    transition: 0.5s;
  }
  .closebtn{
    top: 0;
    margin-left: 15px;
    position: relative;   
  }
  .wrapper {
    width: 90%;
    margin: auto auto;
    display: inline-flexbox;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    align-content: right;
    align-items: center;
    padding-bottom: 10%;
    }
    .icon {
      height: 100px;
      width: 100px;
      margin:auto;
      transition: 200ms all;
      position: relative;
      display: inline-block;
      text-align: center;
    }
    .title{
      font-size: 1.5em;
      font-family: 'Pokemon Solid',sans-serif;
      transition: 300ms all;
    }
    .icon:hover{
      filter: saturate(200%);
      transform: scale(1.1);
      cursor: pointer;
    }
    .icon img {
      height: 60%;
      width: 60%;
      margin: 20%;
      margin-bottom: 10%;
    }

    .menuh{
      width: 100%;
      margin: auto;
    }

    #formulario{
      display:none;
    }
    #formulario2{
        /*Mostramos el formulario*/
        display:block;
    }
    #formulario2 button{
        width: 100%;
    }
    .caja-medio{
      float: left;
      margin: auto;
    }

    .main {
      display: flex;
     flex-direction: column;
        justify-content: center;
    }

    .main > * {
        order: 0;
    }
    .caja-izq{
        order: 2;
        margin-bottom: 10%;
    }
    .caja-medio{
        order: 1;
        margin-bottom: 10%;
    }
    .caja-der{
        order: 3;
        margin-bottom: 10%;
    }
    
    #pokemon-name{
        color:#0C69C8;
        font-size:1.5em;
        font-family: fantasy;
        text-align:center;
        width:80%   ;
        float: right;
        text-align: center;
        border: 1px solid #0C69C8;
        border-radius: 0px 10px 10px 0px;
    }
    
    .info{
        margin-top: 30px;
        position:relative;
    }
    #pokemon-id{
        width:20%;
        float: left;
        position: absolute;
        top: 50%;
        text-align: center;
        color:#0C69C8;
        font-size:1.5em;
        font-family: fantasy;
        text-align:center;
        border: 1px solid #0C69C8;
        border-radius: 10px 0px 0px 10px;
    }
    

}
